:root {
  /* colors */
  --bg-col: rgb(52, 37, 59);
  --bg-col-alt: rgb(249, 242, 255);
  --bg-col-soft: rgb(185, 185, 185);
  --txt-col: var(--bg-col-alt);
  --txt-col-alt: var(--bg-col);
  --accent-col: rgb(228, 113, 36);
  /* --color-background-soft: var(--ev-c-black-soft); */
  /* --color-background-mute: var(--ev-c-black-mute); */

  /* spacing */
  --sp05: 0.5rem;
  --sp1: 1rem;
  --sp2: 2rem;
  --sp4: 4rem;
  --br: 0.5rem;

  /* font */
  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-size-base: 16px;
  --fs-lg: calc(var(--sp1) + 3px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  color: var(--txt-col);
  background: var(--bg-col);
  line-height: 1.6;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  color: var(--bg-col);
  border-radius: var(--br);
  padding: var(--sp05) var(--sp1);
  cursor: pointer;
  user-select: none;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--txt-col-alt);
}
